## Data Types In Python

Data types are impotant in all programming language.

Variables in the programme have the ability to hold or store different types of data, and each data type has a different role to perform.

In python also have differnent built-in data type:

-> Numeric

-> Set

-> Dictionary

-> Boolean

-> Sequence Type

## Numeric

Numeric data tyep contain numeric value which can be float,integer, or complex number that can be repesent as below:

In [2]:
Integer=10

print("Integer Data type is defined as",type(Integer))

Integer Data type is defined as <class 'int'>

In [3]:
Float = 12.456

print("Float Data type is defined as",type(Float))

Float Data type is defined as <class 'float'>

In [4]:
Complex = 2+4j

print("Complex Data type is defined as",type(Complex))

Complex Data type is defined as <class 'complex'>

## Set

Set is an unoredered collection of data type which can be iterable,mutable and no duplicate element.

In [15]:
Set={2,4,5,6,6,7,8,9,9,9,99,90}

Set 

print("Set Data type is defined as",type(Set))

Set Data type is defined as <class 'set'>

## Dictionary

Dictionary is an unoredered collection of data type which has key-value pairs

Dictionary is reperesnt by {}

In [19]:
Dictionary = {"Name":"xyz","Email":"xyz@gamil.com","Age": 25}

print("Dictionary Data type is defined as",type(Dictionary))

Dictionary Data type is defined as <class 'dict'>

## Boolean

Boolean data type represent two values either TRUE or FALSE.

bool() is the function allow to evaluate the value

In [20]:
Boolean=True
print("Boolean Data type is defined as",type(Boolean))

Boolean Data type is defined as <class 'bool'>

## Sequence Data Type

Sequence Data type consists of String,List and Tuple

### String

String is a set of character repersent in the quotation mark.

In [22]:
String= "PYTHON"

print("String Data type is defined as",type(String))

String Data type is defined as <class 'str'>

### List

List can hold different data type in a single variiable. It is the nost versatile data type.

In [24]:
List = ['PYTHON',5,6.7,{'A':2,'B':7}]
print("List Data type is defined as",type(List))

List Data type is defined as <class 'list'>

### Tuple

Tuple ia also similar data type as list. Tuple are enclosed within the parentheses.

In [25]:
Tuple= ('PYTHON',5,6.7,{'A':2,'B':7})
print("Tupel  Data type is defined as",type(Tuple))

Tupel  Data type is defined as <class 'tuple'>